@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@font-face {
  font-family: 'NexaLight';
  src: url("../fonts/NexaLight.eot");
  src: url("../fonts/NexaLight.eot?#iefix") format("embedded-opentype"), url("../fonts/NexaLight.woff2") format("woff2"), url("../fonts/NexaLight.woff") format("woff"), url("../fonts/NexaLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'NexaBold';
  src: url("../fonts/NexaBold.eot");
  src: url("../fonts/NexaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/NexaBold.woff2") format("woff2"), url("../fonts/NexaBold.woff") format("woff"), url("../fonts/NexaBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif; }

* {
  font-family: 'Lato', sans-serif; }

a {
  font-family: 'Lato', sans-serif;
  display: inline-block;
  text-decoration: none !important;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s; }

ul {
  margin: 0px;
  padding: 0px;
  list-style: none; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

h1, h2 {
  font-family: 'Lato', sans-serif;
  margin: 0px;
  font-weight: 300; }

h1 span, h2 span {
  font-family: 'Lato', sans-serif;
  margin: 0px;
  font-weight: 300; }

p {
  font-family: 'Lato', sans-serif;
  margin: 0px; }

ol {
  font-family: 'Lato', sans-serif; }

a, button, input[type="submit"] {
  cursor: pointer; }

button:focus, input:focus {
  outline: none; }

.navbar-toggler {
  display: none; }

.services .services-text p, .key-services .heading p, .inner-banner p, .recent-post .heading p {
  font-size: 25px;
  font-weight: 300; }

.industry .section a p, .platform ul li p, .key-services .section p, .seo-like .section p, .crowd .section p, .integrate-tool .heading p, .information .section p {
  font-size: 16px;
  color: #656565;
  font-weight: 400; }

header {
  padding: 12px 0px 0px;
  -webkit-animation: header 1.5s linear;
  animation: header 1.5s linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  header .logo .after-scroll {
    opacity: 0; }
  header .logo img {
    width: 61px;
    height: 72px; }
  header .header-right .menu, header .header-right .enquery {
    display: inline-block; }
  header .header-right .menu {
    margin-right: 32px; }
    header .header-right .menu a img {
      width: 35px;
      height: 34px; }
  header .header-right .enquery a {
    background-color: #652c90;
    color: #fff;
    border-radius: 45px;
    border: 1px solid #652c90;
    font-size: 16px;
    font-weight: 500;
    padding: 6px 19px 7px;
    border-width: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    header .header-right .enquery a svg {
      margin-left: 9px; }
    header .header-right .enquery a svg {
      width: 7px;
      height: 14px; }
    header .header-right .enquery a:hover {
      background-color: #fff;
      color: #652c90; }
      header .header-right .enquery a:hover svg path {
        fill: #652c90; }

.scrollHeader {
  -webkit-box-shadow: 0px 10px 10px #f4f4f4;
  box-shadow: 0px 10px 10px #f4f4f4;
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: #fff;
  z-index: 9;
  padding-top: 4px; }
  .scrollHeader .logo .before-scroll {
    display: none; }
  .scrollHeader .logo .after-scroll {
    opacity: 1;
    width: 146px;
    height: 55px; }
  .scrollHeader .header-right .enquery a {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9); }
  .scrollHeader .menu {
    opacity: 1; }

@-webkit-keyframes header {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes header {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.banner {
  z-index: 0;
  margin-top: 5%;
  padding-bottom: 7%; }
  .banner .banner-text h1 {
    font-size: 42px;
    font-family: 'NexaBold';
    color: #000000;
    margin-bottom: 26px; }
  .banner .banner-text p {
    font-size: 27px;
    font-weight: 300; }
  .banner .banner-text .get-started {
    background-color: #27a9e1;
    color: #ffffff;
    border-radius: 45px;
    border: 1px solid #27a9e1;
    font-size: 16px;
    font-weight: 500;
    padding: 9px 40px;
    margin-right: 12px;
    margin-top: 57px; }
    .banner .banner-text .get-started svg {
      margin-left: 9px; }
    .banner .banner-text .get-started:hover {
      -webkit-box-shadow: 3px 3px 8px rgba(39, 169, 225, 0.5);
      box-shadow: 3px 3px 8px rgba(39, 169, 225, 0.5); }
  .banner .banner-text .contact-us {
    background-color: #ffffff;
    color: #000000;
    border-radius: 45px;
    border: 1px solid #ffffff;
    font-size: 16px;
    font-weight: 500;
    padding: 9px 40px;
    border: 2px solid #27a9e1; }
    .banner .banner-text .contact-us svg {
      margin-left: 9px; }
    .banner .banner-text .contact-us:hover {
      -webkit-box-shadow: 3px 3px 8px rgba(39, 169, 225, 0.5);
      box-shadow: 3px 3px 8px rgba(39, 169, 225, 0.5); }
  .banner .banner-bg {
    position: absolute;
    z-index: -1;
    left: 0px;
    width: 100%; }
  .banner .one {
    margin-left: -200px;
    -webkit-animation: one 0.7s linear;
    animation: one 0.7s linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s; }
  .banner .two {
    margin-top: 20px;
    position: relative;
    top: 10px;
    left: 15px;
    -webkit-animation: two 2.5s linear;
    animation: two 2.5s linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  .banner .three {
    margin-left: 30%;
    position: relative;
    left: 0px;
    bottom: 0px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-animation: three 1s linear;
    animation: three 1s linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s; }
  .banner .four {
    -webkit-animation: two 1.5s linear;
    animation: two 1.5s linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0; }

@-webkit-keyframes one {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes one {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes two {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes two {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes three {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes three {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.industry {
  padding: 69px 0px 90px;
  background: url("../images/industry-bg.jpg") no-repeat top center;
  background-size: auto 100%; }
  .industry .heading {
    color: #000000;
    font-family: 'NexaLight';
    font-size: 38px;
    margin-bottom: 34px;
    margin-bottom: 70px; }
    .industry .heading span {
      font-family: 'NexaBold';
      color: #652c90; }
  .industry .section:nth-child(1) path fill {
    color: #000000; }
  .industry .section:nth-child(2) path fill {
    color: #000000; }
  .industry .section:nth-child(3) path fill {
    color: #000000; }
  .industry .section:nth-child(4) path fill {
    color: #000000; }
  .industry .section a {
    display: inline-block;
    background-color: #fff;
    border-radius: 15px;
    padding: 42px 25px; }
    .industry .section a .icon {
      position: relative;
      z-index: 0;
      padding: 24px 0px; }
    .industry .section a svg {
      width: auto;
      height: 65px;
      position: absolute;
      left: 0px;
      bottom: 0px;
      z-index: -1; }
    .industry .section a h3 {
      font-size: 17px;
      font-weight: 600; }
  .industry .section .bg-svg {
    position: absolute;
    z-index: -1;
    top: 29px; }
  .industry .section .animation-svg {
    display: none; }
  .industry .section:hover .section {
    -webkit-box-shadow: 0px 0px 11px #f1f1f1;
    box-shadow: 0px 0px 11px #f1f1f1;
    -webkit-transform: translate(0px, -9px);
    -ms-transform: translate(0px, -9px);
    transform: translate(0px, -9px); }
  .industry .section:hover .animation-svg {
    display: block; }
  .industry .section:hover .bg-svg {
    display: none; }

.services {
  position: relative;
  padding-bottom: 80px; }
  .services .services-text h2 {
    color: #000000;
    font-family: 'NexaLight';
    font-size: 38px;
    margin-bottom: 34px; }
    .services .services-text h2 span {
      font-family: 'NexaBold';
      color: #652c90; }
  .services .services-text a {
    background-color: #27a9e1;
    color: #fff;
    border-radius: 45px;
    border: 1px solid #27a9e1;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 36px 11px;
    margin-top: 52px; }
    .services .services-text a svg {
      margin-left: 9px; }
    .services .services-text a:hover {
      -webkit-box-shadow: 3px 3px 8px rgba(39, 169, 225, 0.5);
      box-shadow: 3px 3px 8px rgba(39, 169, 225, 0.5); }
  .services .background-bg {
    position: absolute;
    z-index: -1; }

.services.two .services-text {
  color: #000000;
  font-family: 'NexaLight';
  font-size: 38px;
  margin-bottom: 34px; }
  .services.two .services-text span {
    font-family: 'NexaBold';
    color: #27a9e1; }

.testomonial {
  position: relative;
  padding-bottom: 10%; }
  .testomonial h2 {
    color: #000000;
    font-family: 'NexaLight';
    font-size: 38px;
    margin-bottom: 34px; }
    .testomonial h2 span {
      font-family: 'NexaBold';
      color: #27a9e1; }
  .testomonial .testomonial-bg {
    position: absolute;
    z-index: -1;
    left: 0px;
    right: 0px;
    margin: 0  auto;
    top: 55px;
    -webkit-animation: rounded 200s infinite;
    animation: rounded 200s infinite;
    -webkit-animation-direction: linear;
    animation-direction: linear; }
  .testomonial .tes-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin-top: 60px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
    .testomonial .tes-section .tes-image {
      width: 84px;
      height: 84px;
      border-radius: 50%;
      overflow: hidden;
      -ms-flex-preferred-size: 239px;
      flex-basis: 239px;
      margin-right: 27px; }
    .testomonial .tes-section .comment {
      background-color: #fff;
      border-radius: 15px;
      -webkit-box-shadow: 3px 5px 10px #eaeaea;
      box-shadow: 3px 5px 10px #eaeaea;
      padding: 15px;
      position: relative; }
      .testomonial .tes-section .comment:after {
        content: '';
        position: absolute;
        top: 0px;
        left: -30px;
        width: 38px;
        height: 28px;
        background: url(../images/comment-arrow.png) no-repeat; }
      .testomonial .tes-section .comment p {
        font-size: 16px;
        color: #454545;
        margin-bottom: 7px; }
      .testomonial .tes-section .comment h3 {
        font-size: 18px;
        color: #27a9e1;
        font-family: 'NexaBold';
        margin-bottom: 0px; }
  .testomonial .testomonialone {
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-animation: threes 1s linear;
    animation: threes 1s linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }
  .testomonial .testomonialtwo {
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-animation: threes 2s linear;
    animation: threes 2s linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s; }
  .testomonial .testomonialthree {
    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-animation: threes 2s linear;
    animation: threes 2s linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    margin-left: 70px;
    margin-top: 30px; }
    .testomonial .testomonialthree .tes-image {
      margin-right: 0px;
      margin-left: 27px; }

@-webkit-keyframes threes {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@keyframes threes {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes rounded {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(365deg);
    transform: rotate(365deg); } }

@keyframes rounded {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(365deg);
    transform: rotate(365deg); } }
  .testomonial .view-more {
    background-color: #652c90;
    color: #fff;
    border-radius: 45px;
    border: 1px solid #652c90;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 36px 11px;
    margin-top: 90px; }
    .testomonial .view-more svg {
      margin-left: 9px; }

.location {
  background: #fcfcfc url(../images/location-bg.jpg) no-repeat;
  background-size: 100% auto;
  padding: 60px 0px; }
  .location .location-text h2 {
    color: #000000;
    font-family: 'NexaLight';
    font-size: 38px;
    margin-bottom: 34px; }
    .location .location-text h2 span {
      font-family: 'NexaBold';
      color: #652c90; }
  .location .location-text a {
    background-color: #27a9e1;
    color: #fff;
    border-radius: 45px;
    border: 1px solid #27a9e1;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 36px 11px; }
    .location .location-text a svg {
      margin-left: 9px; }
  .location .full-address {
    position: absolute;
    background: #fff;
    max-width: 370px;
    display: inline-block;
    border-radius: 15px;
    padding: 12px;
    top: -124px;
    -webkit-box-shadow: 0px 0px 10px #f1f1f1;
    box-shadow: 0px 0px 10px #f1f1f1;
    opacity: 0;
    display: none; }
    .location .full-address p, .location .full-address a {
      font-size: 15px;
      color: #6a6a6a;
      margin-bottom: 4px; }
      .location .full-address p img, .location .full-address a img {
        margin-right: 6px; }
  .location .full-address.usa {
    top: 52px; }
  .location .full-address.canada {
    top: 52px; }
  .location .total-location {
    border: 1px solid #d7d7d7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .location .total-location .location-section {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      min-height: 200px; }
      .location .total-location .location-section h3 {
        font-family: 'NexaBold';
        font-size: 20px; }
      .location .total-location .location-section:nth-child(1) {
        border-right: 1px solid;
        border-right-color: #d7d7d7;
        border-bottom: 1px solid;
        border-bottom-color: #d7d7d7; }
      .location .total-location .location-section:nth-child(2) {
        border-bottom: 1px solid;
        border-bottom-color: #d7d7d7; }
      .location .total-location .location-section:nth-child(3) {
        border-right: 1px solid;
        border-right-color: #d7d7d7; }
      .location .total-location .location-section:hover {
        background-color: #ffffff; }
        .location .total-location .location-section:hover .full-address {
          opacity: 1;
          display: block; }
    .location .total-location .image {
      width: 54px;
      height: 54px;
      overflow: hidden;
      border-radius: 50%;
      margin-bottom: 28px;
      -webkit-box-shadow: 0px 0px 10px #f8f8f8;
      box-shadow: 0px 0px 10px #f8f8f8; }
      .location .total-location .image img {
        width: 100%; }

.custom-container {
  width: 92%; }

footer {
  padding: 60px 0px 0px;
  background-color: #fcfcfc; }
  footer .footer-section {
    margin-bottom: 20px; }
  footer h3 {
    font-family: 'NexaBold';
    font-size: 18px;
    margin-bottom: 42px; }
  footer p {
    font-size: 15px;
    color: #6a6a6a; }
  footer .footer-image {
    margin-bottom: 26px; }
  footer ul li a {
    color: #535768;
    font-size: 15px;
    margin-bottom: 20px; }
  footer .social li {
    display: inline-block; }
    footer .social li a {
      width: 34px;
      height: 34px;
      border-radius: 50px;
      background-color: #535768;
      margin-right: 6px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      footer .social li a svg {
        width: 20px;
        height: 20px; }
      footer .social li a:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1); }
    footer .social li .fb:hover {
      background: #4267b2; }
    footer .social li .in:hover {
      background: #007ab9; }
    footer .social li .ins:hover {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#cd3aa0), color-stop(#ff573e), to(#ffd153));
      background-image: -webkit-linear-gradient(#cd3aa0, #ff573e, #ffd153);
      background-image: -o-linear-gradient(#cd3aa0, #ff573e, #ffd153);
      background-image: linear-gradient(#cd3aa0, #ff573e, #ffd153); }
    footer .social li .tw:hover {
      background: #03a9f4; }
    footer .social li:last-child a {
      margin-right: 0px; }
  footer .copyright {
    border-top: 1px solid;
    border-top-color: #e6e9ef;
    margin-top: 22px; }
    footer .copyright p {
      font-size: 14px;
      color: #535768;
      padding: 12px 0px; }

.our-client {
  background-color: #ffffff;
  padding: 60px 0px; }

#jssor_1 div img {
  margin-right: 15px !important; }

.experience-platform {
  padding: 60px 0px; }
  .experience-platform .e-p-l-section {
    -webkit-box-shadow: 0px 0px 10px #eaeaea;
    box-shadow: 0px 0px 10px #eaeaea;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    width: 20%;
    width: 25%;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #ffffff; }
    .experience-platform .e-p-l-section:hover {
      background-color: #27a9e1; }
      .experience-platform .e-p-l-section:hover svg path {
        fill: #ffffff; }
      .experience-platform .e-p-l-section:hover span img {
        margin-top: -57px; }
      .experience-platform .e-p-l-section:hover h3 {
        color: #ffffff; }
      .experience-platform .e-p-l-section:hover p {
        color: #ffffff; }
    .experience-platform .e-p-l-section svg path {
      fill: #000000; }
    .experience-platform .e-p-l-section span {
      width: 57px;
      height: 57px;
      overflow: hidden;
      display: inline-block; }
    .experience-platform .e-p-l-section h3 {
      font-family: 'NexaBold';
      color: #000000;
      margin-bottom: 0px; }
    .experience-platform .e-p-l-section p {
      font-size: 16px;
      text-transform: uppercase; }
  .experience-platform .active {
    background-color: #27a9e1; }
    .experience-platform .active svg path {
      fill: #ffffff; }
    .experience-platform .active span img {
      margin-top: -57px; }
    .experience-platform .active h3 {
      color: #ffffff; }
    .experience-platform .active p {
      color: #ffffff; }
  .experience-platform .two {
    position: absolute;
    top: -67px;
    z-index: 9999; }
  .experience-platform .one {
    margin-right: 25%; }
  .experience-platform .three {
    margin-top: 21%; }
  .experience-platform .e-p-right h2 {
    color: #000000;
    font-family: 'NexaLight';
    font-size: 38px;
    margin-bottom: 34px; }
    .experience-platform .e-p-right h2 span {
      font-family: 'NexaBold';
      color: #27a9e1; }
  .experience-platform .e-p-right p {
    color: #616161;
    font-size: 18px;
    line-height: 29px; }
  .experience-platform .e-p-left {
    position: relative;
    z-index: 0; }
    .experience-platform .e-p-left:after {
      content: '';
      position: absolute;
      width: 80%;
      height: 440px;
      border: 20px solid #f3f3f3;
      border-radius: 50%;
      top: 0px;
      left: -50px;
      z-index: -99; }
    .experience-platform .e-p-left:before {
      content: '';
      position: absolute;
      width: 80%;
      height: 440px;
      border-right: 20px solid #27a9e1;
      border-radius: 50%;
      top: 0px;
      left: -50px;
      z-index: -1;
      -webkit-animation: teamRound 20s infinite linear;
      animation: teamRound 20s infinite linear; }

@-webkit-keyframes teamRound {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes teamRound {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.platform {
  background: #fcfcfc url(../images/location-bg.jpg) no-repeat;
  background-size: 100% auto;
  padding: 120px 0px 60px; }
  .platform ul li {
    margin-bottom: 20px; }
    .platform ul li:last-child {
      margin-bottom: 0px; }
    .platform ul li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-radius: 15px;
      padding: 21px 15px;
      background: #ffffff; }
      .platform ul li a:hover {
        -webkit-box-shadow: 0px 0px 15px #eaeaea;
        box-shadow: 0px 0px 15px #eaeaea; }
    .platform ul li .activated {
      -webkit-box-shadow: 0px 0px 15px #eaeaea;
      box-shadow: 0px 0px 15px #eaeaea; }
    .platform ul li img {
      -ms-flex-preferred-size: 71px;
      flex-basis: 71px;
      margin-right: 49px; }
    .platform ul li h3 {
      font-size: 17px;
      color: #27a9e1;
      text-transform: uppercase;
      font-weight: 600; }
  .platform .platform-text h2 {
    color: #000000;
    font-family: 'NexaLight';
    font-size: 38px;
    margin-bottom: 34px;
    text-align: left; }
    .platform .platform-text h2 span {
      font-family: 'NexaBold';
      color: #652c90; }
  .platform .platform-text .video {
    position: relative;
    z-index: 0; }
    .platform .platform-text .video .play-image {
      position: absolute;
      left: 0px;
      right: 0px;
      margin: 0  auto;
      z-index: 1;
      top: 31%; }
    .platform .platform-text .video img {
      display: inline-block;
      border-radius: 15px;
      overflow: hidden; }

.key-services {
  padding: 60px 0px; }
  .key-services .heading {
    margin-bottom: 57px; }
    .key-services .heading h2 {
      color: #000000;
      font-family: 'NexaLight';
      font-size: 38px;
      margin-bottom: 34px;
      margin-bottom: 14px; }
      .key-services .heading h2 span {
        font-family: 'NexaBold';
        color: #27a9e1; }
  .key-services .section {
    border-radius: 15px;
    padding: 15px 21px;
    min-height: 261px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .key-services .section span {
      display: inline-block;
      width: 60px;
      height: 60px; }
      .key-services .section span svg, .key-services .section span img {
        width: 60px; }
      .key-services .section span svg {
        display: none; }
      .key-services .section span img {
        position: absolute;
        left: 0px;
        right: 0px;
        margin: 0 auto; }
    .key-services .section:hover {
      -webkit-box-shadow: 0px 0px 15px #eaeaea;
      box-shadow: 0px 0px 15px #eaeaea; }
      .key-services .section:hover span img {
        display: none; }
      .key-services .section:hover span svg {
        display: block; }
    .key-services .section span {
      display: inline-block;
      margin-bottom: 40px; }
    .key-services .section h3 {
      font-size: 17px;
      color: #000000;
      font-weight: 600; }

.ceo h2 {
  font-size: 50px;
  font-family: 'NexaLight'; }

.ceo span {
  font-size: 24px;
  margin-bottom: 51px;
  display: inline-block; }

.ceo p {
  font-size: 25px;
  font-weight: 300; }

.our-team {
  padding: 60px 0px; }
  .our-team .heading h2 {
    color: #000000;
    font-family: 'NexaLight';
    font-size: 38px;
    margin-bottom: 34px; }
    .our-team .heading h2 span {
      font-family: 'NexaBold';
      color: #652c90; }

.inner-banner {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#fbfbfb));
  background: -webkit-linear-gradient(white, #fbfbfb);
  background: -o-linear-gradient(white, #fbfbfb);
  background: linear-gradient(white, #fbfbfb);
  position: relative;
  z-index: 0;
  overflow: hidden;
  min-height: 390px; }
  .inner-banner .background-bg {
    position: absolute;
    z-index: -1; }
  .inner-banner .image {
    position: relative;
    width: 85%;
    float: right; }
  .inner-banner .inner-banner-bg {
    position: absolute;
    z-index: -1;
    top: -40px; }
  .inner-banner h1 {
    color: #000000;
    font-family: 'NexaLight';
    font-size: 38px;
    margin-bottom: 34px;
    margin-bottom: 12px; }
    .inner-banner h1 span {
      font-family: 'NexaBold';
      color: #27a9e1; }
  .inner-banner a {
    background-color: #27a9e1;
    color: #ffffff;
    border-radius: 45px;
    border: 1px solid #27a9e1;
    font-size: 16px;
    font-weight: 500;
    padding: 9px 40px;
    margin-top: 57px; }
    .inner-banner a svg {
      margin-left: 9px; }

.seo-like {
  padding: 60px 0px 0px; }
  .seo-like h2 {
    color: #000000;
    font-family: 'NexaLight';
    font-size: 38px;
    margin-bottom: 34px; }
    .seo-like h2 span {
      font-family: 'NexaBold';
      color: #27a9e1; }
  .seo-like .section {
    font-size: 17px;
    color: #000000;
    font-weight: 600;
    padding: 0px 30px;
    border-radius: 15px;
    min-height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 90%;
    margin: 0 auto; }
    .seo-like .section span {
      display: inline-block;
      margin-bottom: 40px;
      width: 60px;
      height: 60px; }
      .seo-like .section span img {
        width: 60px; }
      .seo-like .section span img {
        position: absolute;
        left: 0px;
        right: 0px;
        margin: 0 auto; }
      .seo-like .section span svg {
        display: none; }
    .seo-like .section h3 {
      font-size: 19px;
      font-weight: 600; }
    .seo-like .section:hover {
      -webkit-box-shadow: 0px 0px 15px #eaeaea;
      box-shadow: 0px 0px 15px #eaeaea; }
      .seo-like .section:hover span img {
        display: none; }
      .seo-like .section:hover span svg {
        display: block; }

.crowd {
  padding: 60px 0px; }
  .crowd h2 {
    color: #000000;
    font-family: 'NexaLight';
    font-size: 38px;
    margin-bottom: 34px;
    margin-bottom: 64px; }
    .crowd h2 span {
      font-family: 'NexaBold';
      color: #652c90; }
  .crowd .section {
    margin-bottom: 50px; }
    .crowd .section:nth-child(1) .heading span {
      background-color: #a660db; }
    .crowd .section:nth-child(2) .heading span {
      background-color: #c9cf5d; }
    .crowd .section:nth-child(3) .heading span {
      background-color: #45c7ff; }
    .crowd .section:nth-child(4) .heading span {
      background-color: #e69537; }
    .crowd .section .heading {
      border-radius: 5px;
      -webkit-box-shadow: 0px 0px 15px #eaeaea;
      box-shadow: 0px 0px 15px #eaeaea;
      padding: 5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: start;
      margin-bottom: 35px;
      width: 85%; }
      .crowd .section .heading span {
        width: 55px;
        height: 46px;
        background-color: #a660db;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-radius: 5px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .crowd .section .heading span img {
          width: 40px; }
      .crowd .section .heading h3 {
        font-size: 22px;
        font-family: 'NexaLight';
        margin-bottom: 0px;
        margin-left: 11px; }
    .crowd .section p {
      width: 85%; }

.integrate-tool .heading {
  margin-bottom: 65px; }
  .integrate-tool .heading h2 {
    color: #000000;
    font-family: 'NexaLight';
    font-size: 38px;
    margin-bottom: 34px;
    margin-bottom: 10px; }
    .integrate-tool .heading h2 span {
      font-family: 'NexaBold';
      color: #27a9e1; }

.integrate-tool ul {
  width: 100%;
  text-align: center; }
  .integrate-tool ul li {
    display: inline-block; }

.work {
  padding: 60px 0px;
  background: #fcfcfc url(../images/location-bg.jpg) no-repeat;
  background-size: 100% auto; }
  .work h2 {
    color: #000000;
    font-family: 'NexaLight';
    font-size: 38px;
    margin-bottom: 34px; }
    .work h2 span {
      font-family: 'NexaBold';
      color: #652c90; }
  .work .section {
    border-radius: 15px;
    overflow: hidden;
    margin: 15px 0px;
    background-color: #ffffff; }
    .work .section:hover {
      -webkit-box-shadow: 0px 0px 15px #eaeaea;
      box-shadow: 0px 0px 15px #eaeaea; }
  .work .lower {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 24px 9px; }
    .work .lower p {
      font-size: 18px;
      font-family: 'NexaBold'; }
    .work .lower a {
      background-color: #27a9e1;
      color: #ffffff;
      border-radius: 45px;
      border: 1px solid #27a9e1;
      font-size: 16px;
      font-weight: 500;
      padding: 3px 20px; }
      .work .lower a svg {
        margin-left: 9px; }
  .work .owl-nav {
    display: none; }

.packages {
  padding: 60px 0px;
  position: relative; }
  .packages .pricing-part {
    display: none;
    height: 100%; }
  .packages .pricing-part.slow {
    height: 100%; }
  .packages .essential-btn {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    background-color: #99a4a6;
    font-size: 17px;
    font-weight: 600;
    bottom: 35px;
    width: 12%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 35px;
    text-align: center;
    color: #ffffff !important;
    padding: 7px 0px;
    cursor: pointer; }
    .packages .essential-btn svg {
      width: 19px;
      margin-left: 10px; }
  .packages .btns {
    bottom: 0px;
    opacity: 0; }
    .packages .btns svg {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
  .packages .packages-holder {
    border-radius: 35px;
    overflow: hidden;
    border: 1px solid #ddd;
    -webkit-box-shadow: 0px 0px 15px #eaeaea;
    box-shadow: 0px 0px 15px #eaeaea; }
  .packages h2 {
    color: #000000;
    font-family: 'NexaLight';
    font-size: 38px;
    margin-bottom: 34px; }
    .packages h2 span {
      font-family: 'NexaBold';
      color: #27a9e1; }
  .packages .choose-plan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .packages .choose-plan h3 {
      font-size: 33px;
      font-family: 'NexaLight';
      padding-left: 41px; }
      .packages .choose-plan h3 span {
        font-family: 'NexaBold';
        color: #27a9e1; }
  .packages .col-lg-3 ul li p {
    padding-left: 41px; }
  .packages .choose-plan, .packages .heading {
    min-height: 300px; }
  .packages .pricing-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }
    .packages .pricing-right .section {
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
      border-right: 1px solid #f1f1f1; }
      .packages .pricing-right .section:nth-child(1) {
        border-left: 1px solid #f1f1f1; }
        .packages .pricing-right .section:nth-child(1) .heading h4 {
          background-color: #45c7ff; }
        .packages .pricing-right .section:nth-child(1) .heading .pricing h2 {
          color: #45c7ff; }
      .packages .pricing-right .section:nth-child(2) .heading h4 {
        background-color: #eb9428; }
      .packages .pricing-right .section:nth-child(2) .heading .pricing h2 {
        color: #eb9428; }
      .packages .pricing-right .section:nth-child(3) .heading h4 {
        background-color: #662d91; }
      .packages .pricing-right .section:nth-child(3) .heading .pricing h2 {
        color: #662d91; }
      .packages .pricing-right .section:nth-child(4) .heading h4 {
        background-color: #88912d; }
      .packages .pricing-right .section:nth-child(4) .heading .pricing h2 {
        color: #88912d; }
      .packages .pricing-right .section ul li p {
        text-align: center; }
  .packages .heading h4 {
    background-color: #27a9e1;
    font-size: 19px;
    font-family: 'NexaLight';
    text-transform: uppercase;
    color: #ffffff;
    padding: 12px 0px 11px; }
  .packages .heading .pricing {
    margin-top: 29px; }
    .packages .heading .pricing h2 {
      margin-bottom: 0px;
      font-family: 'Lato', sans-serif;
      font-size: 38px;
      margin-bottom: 15px;
      font-weight: 400; }
      .packages .heading .pricing h2 sub {
        font-size: 20px;
        font-weight: 600; }
    .packages .heading .pricing p {
      font-size: 15px;
      color: #989898; }
  .packages .heading a {
    background-color: #fff;
    border: 1px solid #27a9e1;
    border-radius: 35px;
    padding: 5px 20px;
    color: #000000;
    font-size: 16px;
    margin-top: 37px;
    font-weight: 600;
    font-size: 14px; }
    .packages .heading a:hover {
      background-color: #27a9e1;
      color: #ffffff;
      -webkit-box-shadow: 3px 3px 8px rgba(39, 169, 225, 0.5);
      box-shadow: 3px 3px 8px rgba(39, 169, 225, 0.5); }
  .packages .essential {
    background-color: #f9f9f9;
    min-height: 51px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 19px; }
    .packages .essential p {
      font-size: 17px;
      color: #000000;
      padding-left: 41px; }
  .packages ul li p {
    min-height: 47px;
    font-size: 16px; }
    .packages ul li p img {
      width: 23px; }

/* mega menu */
.megaMenu.added {
  display: block; }
  .megaMenu.added:after {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-animation: ddd 0.3s;
    animation: ddd 0.3s; }

@-webkit-keyframes ddd {
  0% {
    width: 0%;
    background-color: rgba(0, 0, 0, 0); }
  100% {
    width: 100%;
    background-color: white; } }

@keyframes ddd {
  0% {
    width: 0%;
    background-color: rgba(0, 0, 0, 0); }
  100% {
    width: 100%;
    background-color: white; } }

.megaMenu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  top: 0px;
  display: none; }
  .megaMenu .megaMenu-header {
    padding: 11px 0px; }
  .megaMenu .close a img {
    width: 25px; }
  .megaMenu .megaMenu-left {
    border-right: 3px solid #e2e2e2; }
  .megaMenu ul li {
    overflow: hidden; }
    .megaMenu ul li a {
      font-size: 28px;
      color: #404040;
      font-family: 'NexaBold';
      margin-bottom: 16px;
      -webkit-animation: sss 1s linear;
      animation: sss 1s linear;
      -webkit-animation-delay: 0.8s;
      animation-delay: 0.8s;
      overflow: hidden;
      -webkit-transform: translateY(60px);
      -ms-transform: translateY(60px);
      transform: translateY(60px);
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      line-height: 30px; }
      .megaMenu ul li a:hover {
        color: #27a9e1; }
        .megaMenu ul li a:hover img {
          opacity: 1; }
      .megaMenu ul li a img {
        width: 25px;
        margin-left: 15px;
        opacity: 1; }
    .megaMenu ul li .activated {
      color: #27a9e1; }
      .megaMenu ul li .activated img {
        opacity: 1; }
  .megaMenu .card {
    border: 0px; }
    .megaMenu .card .card-header {
      padding: 0px;
      background-color: #fff;
      border-bottom: 0px;
      -webkit-box-shadow: 0px 0px 15px #eaeaea;
      box-shadow: 0px 0px 15px #eaeaea;
      border-radius: 10px;
      margin-bottom: 11px;
      width: 91%; }
      .megaMenu .card .card-header button {
        width: 100%;
        padding: 0px;
        margin: 0px;
        text-align: left;
        color: #fff;
        font-size: 19px;
        border: 0px;
        padding: 7px 12px;
        background-color: #27a9e1;
        text-transform: capitalize; }
        .megaMenu .card .card-header button:active, .megaMenu .card .card-header button:focus, .megaMenu .card .card-header button:hover {
          text-decoration: none !important; }
      .megaMenu .card .card-header .btn-link.collapsed {
        background-color: #fff;
        color: #000; }
    .megaMenu .card .card-body {
      padding-top: 0px; }
      .megaMenu .card .card-body ul li a {
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        color: #5b5b5b;
        text-transform: uppercase;
        margin-bottom: 5px;
        line-height: inherit;
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s; }
  .megaMenu .headquater {
    margin-top: 25px; }
    .megaMenu .headquater h3 {
      font-family: 'NexaLight';
      font-size: 26px;
      margin-bottom: 11px; }
    .megaMenu .headquater p, .megaMenu .headquater a {
      font-size: 17px;
      color: #000; }
      .megaMenu .headquater p img, .megaMenu .headquater a img {
        width: 32px;
        margin-right: 15px; }
    .megaMenu .headquater a {
      margin-bottom: 19px; }

@-webkit-keyframes sss {
  0% {
    -webkit-transform: translateY(60px);
    transform: translateY(60px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@keyframes sss {
  0% {
    -webkit-transform: translateY(60px);
    transform: translateY(60px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

/*blog*/
.blog-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .blog-banner .search {
    border-radius: 55px;
    -webkit-box-shadow: 0px 0px 15px #eaeaea;
    box-shadow: 0px 0px 15px #eaeaea;
    width: 39%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    margin-top: 37px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .blog-banner .search input[type="search"] {
      border: 0px;
      height: 59px;
      background-color: transparent;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding-left: 31px; }
      .blog-banner .search input[type="search"]::-webkit-input-placeholder {
        color: #a8a8a8;
        font-size: 17px; }
      .blog-banner .search input[type="search"]:-ms-input-placeholder {
        color: #a8a8a8;
        font-size: 17px; }
      .blog-banner .search input[type="search"]::-ms-input-placeholder {
        color: #a8a8a8;
        font-size: 17px; }
      .blog-banner .search input[type="search"]::placeholder {
        color: #a8a8a8;
        font-size: 17px; }
    .blog-banner .search input[type="submit"] {
      border: 0px;
      text-indent: -999px;
      height: 59px;
      width: 73px;
      background: #652c90 url("../images/blog/search-icon.svg") no-repeat center;
      background-size: 41px; }

.blog-main {
  padding: 60px 0px; }
  .blog-main .blogSlider {
    position: relative; }
    .blog-main .blogSlider .item {
      padding: 10px; }
    .blog-main .blogSlider .section {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border-radius: 30px;
      -webkit-box-shadow: 0px 0px 15px #eaeaea;
      box-shadow: 0px 0px 15px #eaeaea;
      overflow: hidden;
      max-height: 455px; }
      .blog-main .blogSlider .section .image {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        overflow: hidden; }
      .blog-main .blogSlider .section .text {
        padding: 15px; }
        .blog-main .blogSlider .section .text h2 {
          font-size: 28px;
          font-family: 'NexaLight';
          margin-bottom: 15px; }
        .blog-main .blogSlider .section .text p {
          font-size: 16px;
          color: #656565;
          font-weight: 400;
          margin-bottom: 15px; }
  .blog-main .owl-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    /* margin-top: -65px; */
    position: absolute;
    bottom: 29px;
    right: 29px;
    z-index: 99; }
    .blog-main .owl-nav .owl-prev, .blog-main .owl-nav .owl-next {
      width: 38px;
      height: 38px;
      border-radius: 50%;
      background-color: #ddd !important; }
      .blog-main .owl-nav .owl-prev span, .blog-main .owl-nav .owl-next span {
        color: #fff;
        font-size: 35px;
        line-height: 23px; }
      .blog-main .owl-nav .owl-prev:hover, .blog-main .owl-nav .owl-next:hover {
        background-color: #27a9e1 !important; }
    .blog-main .owl-nav .owl-prev {
      margin-right: 11px; }
  .blog-main .owl-dots {
    display: none; }
  .blog-main .category {
    background-color: #f0f0f0;
    height: 100%;
    border-radius: 30px;
    width: 94%;
    padding: 44px 61px; }
    .blog-main .category ol {
      margin-bottom: 0px;
      list-style-type: decimal-leading-zero;
      counter-reset: my-awesome-counter;
      list-style: none; }
      .blog-main .category ol li {
        margin-bottom: 15px;
        counter-increment: my-awesome-counter;
        position: relative; }
        .blog-main .category ol li:before {
          content: "0" counter(my-awesome-counter);
          color: #999999;
          font-size: 1rem;
          position: absolute;
          --size: 32px;
          left: calc(-1 * var(--size) - 10px);
          line-height: var(--size);
          width: var(--size);
          height: var(--size);
          top: 0;
          font-family: 'NexaBold'; }
        .blog-main .category ol li:last-child {
          margin-bottom: 0px; }
        .blog-main .category ol li p {
          font-size: 15px;
          color: #000; }
    .blog-main .category h3 {
      font-size: 31px;
      font-weight: 800;
      color: #27a9e1;
      font-family: 'NexaBold';
      margin-bottom: 11px; }

.recent-post {
  padding: 60px 0px; }
  .recent-post .heading {
    margin-bottom: 34px; }
    .recent-post .heading h2 {
      color: #000000;
      font-family: 'NexaLight';
      font-size: 38px;
      margin-bottom: 34px;
      margin-bottom: 5px; }
      .recent-post .heading h2 span {
        font-family: 'NexaBold';
        color: #652c90; }
  .recent-post .section {
    border-radius: 20px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 15px #eaeaea;
    box-shadow: 0px 0px 15px #eaeaea;
    margin: 15px 0px; }
    .recent-post .section .image {
      max-height: 221px;
      overflow: hidden; }
    .recent-post .section .text {
      padding: 25px 23px; }
      .recent-post .section .text h3 {
        font-family: 'NexaLight';
        font-size: 23px;
        line-height: 30px; }
    .recent-post .section:hover .text h3 {
      color: #27a9e1; }
  .recent-post .owl-nav {
    display: none; }
  .recent-post .owl-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 30px; }
    .recent-post .owl-dots button {
      width: 20px;
      height: 20px;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 15px;
      position: relative;
      margin-right: 5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .recent-post .owl-dots button:last-child {
        margin-right: 0px; }
      .recent-post .owl-dots button:after {
        content: '';
        position: absolute;
        width: 9px;
        height: 9px;
        background-color: #fff;
        border-radius: 15px; }
    .recent-post .owl-dots .active {
      background-color: #25aae1; }

.information {
  padding: 0px 0px 60px; }
  .information .section {
    min-height: 260px;
    border-radius: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0px 15px; }
    .information .section:hover {
      -webkit-box-shadow: 0px 0px 15px #eaeaea;
      box-shadow: 0px 0px 15px #eaeaea; }
      .information .section:hover .icon img {
        display: none; }
      .information .section:hover .icon svg {
        display: block; }
    .information .section .icon {
      display: inline-block;
      margin-bottom: 40px;
      width: 50px;
      height: 50px;
      position: relative; }
      .information .section .icon img, .information .section .icon svg {
        width: 50px; }
      .information .section .icon img {
        width: 50px;
        height: 50px;
        position: absolute;
        left: 0px;
        right: 0px;
        margin: 0 auto; }
      .information .section .icon svg {
        display: none; }
    .information .section h3 {
      font-size: 19px;
      font-weight: 600; }
