.our-team-slider {
  -webkit-box-align: center;
          align-items: center;
  /*background: #e3e3e3;*/
  display: -webkit-box;
  display: flex;
  /*height: 100vh;*/
  -webkit-box-pack: center;
          justify-content: center;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-500px * 2));
            transform: translateX(calc(-500px * 2));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-500px * 2));
            transform: translateX(calc(-500px * 2));
  }
}
.slider {
  /*background: white;*/
  /*box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);*/
  /*height: 100px;*/
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider::before, .slider::after {
  background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 8s linear infinite;
          animation: scroll 8s linear infinite;
  display: -webkit-box;
  display: flex;
  width: calc(500px * 10);
  /*position: relative;*/
}
.slider .slide-track .imagesss:hover img{
  /*-webkit-animation: scroll 0s linear infinite;*/
          /*animation: scroll 0s linear infinite;*/
}
.slider .slide {
  height: 418px;
  position: relative;
}
.imagesss{
  height: 206px;
  width: 250px;
}
.slider .slide .imagesss:nth-child(even){
  position: absolute;
  top: 50%;
  left: 120px;
    /*margin-left: 100px;*/
}